<h3>Linear RegressionðŸ“ˆ</h3>

---



<p>A linear Regression is an algorithm which is use to determine a relation between two or more variables called <b><i>dependent variable</i></b> and <b><i>independent variable(s)</i></b>.</p>
<p>It is an predictive modelling technique which is used to predict the result based upon some past results. If there are one independent variable, it is called simple linear regression and if there are mulitple independent variable, it is called multiple linear regression. </p>

In [2]:
import pandas as pd
import numpy as np  
import matplotlib.pyplot as plt  
import seaborn as sns
import warnings
warnings.filterwarnings('ignore',category=FutureWarning)
warnings.filterwarnings('ignore',category=UserWarning)
warnings.filterwarnings('ignore',category=DeprecationWarning)
%matplotlib inline

<h3>Disclaimer</h3>
<p>The result is not meant for any commercial or reference purpose. This study is purely for educational purpose only. The dataset source is provided by <i>The Spark Foundation</i>.</p>

In [3]:
df = pd.read_csv("http://bit.ly/w-data")
df.head()

   Hours  Scores
0    2.5      21
1    5.1      47
2    3.2      27
3    8.5      75
4    3.5      30

<p>This dataset contains data about the performance of students based upon different hour of study. Our task is to predict the Score if someone studies for 9.25hrs.</p>